.weather-container{
    display: flex;
    width: 100%;
}
.weather-cards{
    max-width: 100px;
}
.current-weather-container{
    width:  100%;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}